* { margin:0; padding:0; }

body {
    font:16px/110% "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
    color:rgb(34, 117, 185);
    text-shadow:0 1px 0 rgba(255,255,255,1);
    text-align:center;
    background: rgb(255,214,94);
    background: -moz-linear-gradient(top,  rgb(255,214,94) 0%, rgb(254,191,4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,214,94)), color-stop(100%,rgb(254,191,4)));
    background: -webkit-linear-gradient(top,  rgb(255,214,94) 0%,rgb(254,191,4) 100%);
    background: -o-linear-gradient(top,  rgb(255,214,94) 0%,rgb(254,191,4) 100%);
    background: -ms-linear-gradient(top,  rgb(255,214,94) 0%,rgb(254,191,4) 100%);
    background: linear-gradient(top,  rgb(255,214,94) 0%,rgb(254,191,4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}

a {
    color:#1E5799;
    text-decoration:none;
}
    a:hover {
        color:#333333;
    }

a.button {
    border-radius: 5px;
}
    a.button.selected {
        border-top:1px solid rgba(255,255,255,1);
        border-bottom:1px solid rgba(255,255,255,1);
        background:rgba(255,255,255,0.3);
    }
    a.button:hover {
        background:rgba(255,255,255,0.5);
    }

a.ribbon {
    position:fixed;
    top:0; right:0;
}

.page {
    display:block;
    margin:30px auto;
    width:600px;
    text-align:left;
    background:rgba(255, 255, 255, 0.5);
    padding:20px 30px 30px 30px;
    border-radius:6px;
    border:1px solid white;
}

.page p {
    margin:5px 0;
    text-align:left;
}

    p.tips, p.tips a {
        font-size:14px;
    }

pre#readMe {
    font:11px/100% "Droid Sans Mono", Consola, "Courier New", Courier, monospace;
    color:#000066;
    white-space: pre-wrap;
    margin:0 auto;
    width:640px;
    padding:20px 10px 30px 10px;
}

.spacer {
    clear:both;
    width:100%;
    height:20px;
}

/* ---- Editor (Only for the demo) ---- */
textarea#options {
    font:11px/100% "Droid Sans Mono", Consola, "Courier New", Courier, monospace;
    color:#666666;
    width:100%;
    height:356px;
    padding:3px;
    background:white;
    border:1px solid grey;
    text-shadow:none;
    border-radius:3px;
}
    textarea#options:hover {
        color:#333333;
        border:1px solid red;
    }

/* ---- Stats (Only for the demo) ---- */
div#sps {
    position:absolute;
    z-index:999999;
    right:10px;
    bottom:10px;
    font:11px/100% "Droid Sans Mono", Consola, "Courier New", Courier, monospace;
    color:#999999;
    text-shadow:none;
}